.carre4{
  background-image: url('./BG.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.carre4_part2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}



#app {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  padding: 30px;
  border-radius: 15px;
  z-index: 1;
}

#canvas {
  display: block;
  max-width: 600px;
  max-height: 600px;
  width: 100%;
  height: auto;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background: rgba(221, 102, 102, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.controls button {
  font-size: 24px;
  width: 40px;
  height: 40px;
  border: 2px solid #333;
  background: rgb(223, 41, 41);
  cursor: pointer;
  border-radius: 5px;
  transition: 0.2s;
  color: aliceblue;
}

.controls button:hover {
  background: rgb(171, 26, 26);
  transform: scale(1.1);
}

#nombre {
  font-size: 24px;
  font-weight: bold;
  min-width: 40px;
  text-align: center;
  color: white;
}