/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
button {
    background-color: transparent;
    border: 1px solid transparent;
    color: transparent;
    cursor: pointer;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



body{
  margin: 0;
  padding: 0;
  display: flex;
  overflow-x: auto;
  height: 100svh;
  overflow-y: hidden;
}
.disp{
  visibility: hidden;
}


.transition{
  animation: moove 2s ease-out;
}
.transition2{
  animation: moove2 2s ease-out;
}
.transition3{
  animation: moove3 2s ease-out;
}
.transition4{
  animation: moove4 2s ease-out;
}

.branch1,.branch2,.branch3,.branch4,.branch5,.branch6{
  transform-origin: bottom center;
  
}

.lancer1{
  animation: lancer1 2s ease-out;
}
.lancer2{
  animation: lancer2 2s ease-out;
}


.carre1{
  transition: 3s ease-in-out;
flex: 0 0 100vw;
}
/* carre  2 */
#carre2{
  display: flex;

flex: 0 0 100vw; 
  background:linear-gradient(to left,red,blue);
height: 100%;
}
.carre2_part1{
display: flex;
flex-direction: column;
justify-content: end;
}
#greenBird1{
  position: absolute;
  margin-top: -1%;
  margin-left: -2%;
  z-index: 1;
}
.carre2_part2{
display: flex;

width: 100%; 
}
.carre2_part3{
display: flex;
flex-direction: column;
justify-content: end;
}
#blueBird1{
  position: absolute;
  margin-top: -1%;
  margin-left: -6%;
  z-index: 1;
}
/* fin carre 2 */
/* carre 3 */
#carre3{
flex: 0 0 100vw;  
display: flex;
justify-content: center;
  background:linear-gradient(to left,rgb(198, 253, 70),blue);
}

.carre3_part1{
display: flex;
flex-direction: column;
justify-content: end;
}
#redBird1{
  transform: rotateY(180deg);
  position: absolute;
  margin-top: -1%;
  margin-left: -2%;
  z-index: 1;
  width: 8%;
}
.carre3_part2{
display: flex;

width: 100%; 
}
.carre3_part3{
display: flex;
flex-direction: column;
justify-content: end;
}
#greenBird2{
  transform: rotateY(180deg);
  position: absolute;
  margin-top: -1%;
  margin-left: -6%;
  z-index: 1;
}

/* fin carre 3 */
/* carre 4 */
#carre4{
flex: 0 0 100vw;  
display: flex;
justify-content: center;

}
.carre4_part1{
display: flex;
flex-direction: column;
justify-content: end;
}
#blueBird2{
  transform: rotateY(180deg);
  position: absolute;
  margin-top: -1%;
  margin-left: -2%;
  z-index: 1;
  width: 8%;
}
.carre4_part2{
display: flex;

width: 100%; 
}
.carre4_part3{
display: flex;
flex-direction: column;
justify-content: end;
}
#redBird2{
  position: absolute;
  margin-top: -1%;
  margin-left: -6%;
  z-index: 1;
  width: 8%;
}

@keyframes moove{
  0%{
    
    transform: translate(0px, 0px);
  }
  50%{
 transform: translate(-150px, 7vh);
 
  }
 100%{
  transform: translate(200px, -7vh);
  
 }

}

@keyframes moove2{
  0%{
    transform: translate(0px, 0px);
  }
  50%{
 transform: translate(150px, 7vh);
  }
 100%{
  transform: translate(-200px, -7vh);
 }

}

@keyframes moove3{
  0%{
    transform: rotateY(180deg) translate(0px, 0px);
  }
  50%{
    transform: rotateY(180deg) translate(150px, 7vh);
  }
  100%{
    transform: rotateY(180deg) translate(-200px, -7vh);
  }

}

@keyframes moove4{
  0%{
    transform: rotateY(180deg) translate(0px, 0px);
  }
  50%{
    transform: rotateY(180deg) translate(-150px, 7vh);
  }
  100%{
    transform: rotateY(180deg) translate(200px, -7vh);
  }

}


@keyframes lancer1{
  0%{
    transform: rotateZ(0deg);
  }
  50%{
    transform: rotateZ(40deg);
  }
  100%{
    transform: rotateZ(0deg);
  }

}

@keyframes lancer2{
  0%{
    transform: rotateZ(0deg);
  }
  50%{
    transform: rotateZ(-40deg);
  }
  100%{
    transform: rotateZ(0deg);
  }

}