body{
  display: flex;
  overflow-x: scroll;

}


.carre1{
  transition: 3s ease-in-out;

}


#carre2{
flex: 0 0 100vw; 
  background:linear-gradient(to left,red,blue);

}
.transition{
  transform: translateX(120%);
 transition: transform 3s ease-in;
}
.red{
  color: red;
}
.disp{
  display: none;
}

#carre3{
flex: 0 0 100vw;  
display: flex;
justify-content: center;

}
#carre4{
flex: 0 0 100vw;  
display: flex;
justify-content: center;

}

@keyframes moove{
   0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(100%);
  }
  /* 75%{
    transform: scale(10%);
  }
  100%{
    transform: scale(100%);
  } */
}



